.vote-title {
    font-family: "Fuzzy Bubbles";
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
}.vote-descr {
    font-family: "Rajdhani";
    font-weight: 400;
    color: var(--brand-dark-green);
    font-size: 1.2rem;
    padding: 5px;
}.proposals {
    display: flex;
    flex-direction: column;
    .proposals-title {
        font-family: "Fuzzy Bubbles";
        font-weight: 700;
        display: inline-block;
        font-size: 2rem;
        margin: 0;
    }
}.proposals > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}.proposals-btn {
    padding: 0.9rem 1.5rem;
    border-radius: 5px;
    border: 0;
    font-size: large;
    font-weight: 400;
    cursor: default;
    &:hover {
        background: #686868;
    }
}.proposals-link {
    padding: 1rem;
    margin-top: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}.link-title {
    font-family: "Rajdhani";
    font-weight: 400;
}

// Create-Proposal
.create-proposal-heading {
  font-family: "Fuzzy Bubbles";
  font-weight: 700;
}.all-title {
  color: #d63c5e;
  &:hover {
    color: #d63c5e;
  }
}.tip-title {
  font-family: "Rajdhani";
  font-weight: 400;
}.create-proposal-form {
  border-radius: 5px;
  padding: 16px 40px;
  margin-top: 1em;
  background-color: #fff;
}.font-weight {
    font-weight: 100;
}

// input form

#contact input[type="text"], #contact input[type="text"], #contact input[type="text"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;}

#contact {
  background:#eeeeee;
  padding:25px;
  margin:35px 0;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="text"], #contact input[type="text"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="text"]:hover, #contact input[type="text"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="сreate"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:#0CF;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="сreate"]:hover {
  background:#09C;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="сreate"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}


// Test
.vote-strip {
  border-top: 1px solid #e9ecef;
  word-wrap: break-word;
  padding-top: 32px;
  margin-top: 32px;
}
.data-title {
  font-family: "Rajdhani";
  font-weight: 400;
}.sentence-title {
  font-family: "Rajdhani";
  font-weight: 400;
}.vote-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}.vote-progress p {
  display: flex;
  justify-content: space-between;
}.proposed {
  font-family: "Rajdhani";
  font-weight: 700;
}.vote-link a {
  color: #d63c5e;
  &:hover {
    color: #d63c5e;
  }   
}

 
